
*{
margin: 0;
padding: 0;
}
.parent{
background-image: url("Nature-Wallpaper1.webp");
   width: 100%;
   height: 100vh;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   

}
.cards{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.527);
justify-content: center;
   text-align: center;
   height:800px;
   width: 90%;

  
}
.cards .nav{
    display: flex;
}
.cards  .logo{
    width: 100px;
    height: 100px;
    float: left;
}
.cards ul{
    display: flex;
    float:right
}